<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>

<body>
    <main>
        <h1>My Lists</h1>
        <p>
            <a href="{% url 'new_list' %}">Create a New List</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>
                {% for ToDoList in ToDoList_list %}
                <tr>
                    <td>
                        <a href="{% url 'enumerated_list' ToDoList.id%}">{{ ToDoList.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>

</html>
